*{
    margin: 0px;
    padding: 0px;
}


#main{
    width: 950px;
    height: 870px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
}

#imagen{
    width: 310px;
    height: 870px;
    background-color: green;
    float: left;
}

#imagenplanta{
    width: 310px;
    height: 900px;
}

#texto1{
    width: 640px;
    height: 250px;
    background: none;
    float: right;  
}

.p1{
    font-size: 20px;
    margin-left: 24px;
    margin-top: 25px;
}

#form{
    display: flex;
    flex: 1 1 auto;
    flex-flow: column wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    border: none;
    gap: 1em;
    margin-left: -1em;
    border: gray 1px solid
}

label{
    font-size: 15px;
    display: block;
    width: 100%;
    margin-left: 20px;
}

.input{
    height: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    background: none;
    margin-left: 20px;
}

#inputred{
    border: red solid 1px;
    border-radius: 5px;
    height: 20px; 
    box-sizing: border-box;
    margin-left: 20px;
}

#inputblue{
    border: blue solid 1px;
    height: 20px;
    border-radius: 5px;  
    box-sizing: border-box;
    margin-left: 20px;
}

#pform{
    font-size: 25px;
    margin-left: 20px;
}


#sign{
    width: 640px;
    height: 332px;
    background: none;
    float: right; 
}

button{
    background-color: rgb(101, 160, 101);
    color: white;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: #596D48;
    font-size: 20px;
    margin: 18px;
}

a{
    color: green;
    text-decoration: none;
}

#psign{
    font-size: 18px;
    padding-left: 18px;
    margin-left: 5px;
    
}
